#List of users
USERS=user:hashedpassword user2:hashedpassword2 user3:hashedpassword2

#Store ftp
FTP_BUCKET=

#Bucket with configuration file <env.list> (live reload for users)
CONFIG_BUCKET=

#Aws credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

PASV_ADDRESS=0.0.0.0

#IAM_ROLE
IAM_ROLE=
